NEXT_PUBLIC_SUPABASE_URL=https://lrjlggmrkjiljmiiinrp.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxyamxnZ21ya2ppbGptaWlpbnJwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgwMjAyMjcsImV4cCI6MjEwMzU5NjIyN30.m8xnAejzbkVtDPKD9ywdfx9DYJwkRVISu9Q0QpejgLo
NEXT_PUBLIC_API_URL=http://localhost:8000
